.borrar{
    height: 4em;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: grey;
    color: honeydew;
    flex: 1;
    outline: 1px solid #34495E;
}