.borrar-btn{
    height: 4em;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: grey;
    color:blanchedalmond;
    flex: 1;
    outline: 1px solid #F1F9F9;
}